.wrraper{
    padding: 30px 20px;
    background-color: cornsilk;
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.links{
    
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around;
}
.tt{
    background-color: brown;
}