.wrapperNot{
    padding: 25px;
    background-color: brown;
    font-size: 20px;
    color:cornsilk;
    text-align: center;
    transition: all .5s ease;
}
.wrapperYes{
    padding: 25px;
    background-color:deepskyblue;
    font-size: 20px;
    color:cornsilk;
    text-align: center;
    transition: all .5s ease;
}
.wrapperZ{
    padding: 25px;
    background-color:rgb(118, 34, 173);
    font-size: 20px;
    color:cornsilk;
    text-align: center;
    transition: all .9s ease;
}