.wrapper{
    background-color:blueviolet;
    padding-bottom: 1px;
}
.head{
    text-align: center;
    padding: 20px 0;
}
.btn{
    display: block;
    padding: 20px 40px;
    
    background-color: burlywood;
    margin: 0 auto 30px;
}